<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pabla's Web Page</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <table cellspacing="20">
    <tr>
      <td><img src="https://pbs.twimg.com/profile_images/609890840270364672/qyanvwXJ_400x400.jpg" alt="Goku"></td>
      <td>
        <h1>Pabla</h1>
        <p><em>Hi, I'm still learning.</em></p>
      </td>
    </tr>
  </table>

  <hr>
  <h2>Drinks</h2>
  <ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  <hr>
  <table border="3">
    <tr>
      <td>Work</td>
      <td>Fuk</td>
    </tr>
    <tr>
      <td>No</td>
      <td>Will do</td>
    </tr>
  </table>
  <hr>
  <h2><a href="contact.html">Contact Details</a></h2>
  <hr>
  <h3>Skills</h3>
  <table border="3" cellspacing="5">
    <tr>
      <td>Python</td>
      <td>Decent</td>
    </tr>
    <tr>
      <td>Web Dev</td>
      <td>Beginner</td>
    </tr>
  </table>
</body>

</html>
